.accordion {
  border: 1px solid #ccc;
  margin: 1rem;
  border-radius: 5px;
  overflow: hidden;
  height: max-content;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  background-color: #e0ffe0
}

.accordion-title {
  font-size: 2.6rem;
  transition: font-size 0.3s, color 0.3s;
  margin: 0;
}

.accordion-title.collapsed {
  font-size: 2.9rem;
}

.accordion-icon {
  font-size: 2.6rem;
  transition: transform 0.3s;
}

.accordion.expanded .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content {
  height: 0;
  max-height: 0;
  padding: 0;
  font-size: 1.45rem;
  transition: height 0.3s ease-in-out, max-height 0.3s ease-in-out,
    padding 0.2s ease-in-out;
}

.accordion.expanded .accordion-content {
  height: 100%;
  max-height: 300vh;
  padding: 1rem;
}

.accordion p {
  margin-top: 0;
}

@media (min-width: 1440px) {
  .accordion-content {
    font-size: 1.8rem;
  }
}
