.contact {
  font-family: Montserrat, sans-serif;
}

.contact__header {
  padding: 2rem 6rem;
}

.contacts-boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-box {
  text-align: center;
  padding: 2rem;
  background-color: #f5fbfe;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 20px 0;
  color: #333;
  margin: 1.25rem;
  height: 100%;
  flex: 0 0 26%;
  overflow: hidden;
}

.contact__title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat;
  margin-bottom: 0;
  margin-top: 1.25rem;
  font-size: 2.1rem;
}

.contact-form {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.contact__body {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
  padding: 2rem 4rem;
}

.greet {
  text-align: left;
}

span[class^="fa"] {
  color: #5b86e5;
}

.social-apps span {
  color: #fff;
  margin: 0 1.5rem;
}

.greet__title {
  color: #fff;
  letter-spacing: 1px;
  font-size: 5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 0 2rem;
  font-weight: normal;
  text-align: center;
}

.greet__liability {
  color: #fff;
  font-style: italic;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 4rem;
}

.contact__body label {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}

.contact__btn {
  border: 0;
}

.contact__btn:hover {
  background-color: var(--color-secondary);
}

.contact__body .form-group {
  margin: 2rem 0;
  border-bottom: 2px solid #fff;
}

.contact__body textarea {
  resize: vertical;
}

.contact__body textarea,
.contact__body input {
  background-color: transparent;
  border: 0;
  padding: 1.25rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .contact .contact-form {
    clip-path: none;
  }

  .contact .link__heading {
    margin-bottom: 0;
  }

  .contact .contact__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 8rem 3rem;
  }

  .contact__title {
    font-size: 2.4rem;
  }

  .contacts-boxes {
    flex-direction: row;
    transform: translateY(11%);
    height: 318px;
  }

  .contact__header {
    padding: 0 5rem;
  }

  .greet {
    text-align: center;
  }
}

.Toastify__toast-container {
  top: 10px;
  right: 0;
}

.Toastify__toast--info {
  background-color: #3b82f6; /* Change the background color to a lighter blue */
  color: #ffffff; /* Set the text color to white to ensure readability */
  font-family: Poppins, Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.Toastify__toast-body {
  padding: 5px;
}

.Toastify__progress-bar {
  background-color: #a3bffb;
}

.Toastify__close-button {
  color: #ffffff;
  opacity: 1;
}

.Toastify__close-button--default {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 8px;
}

.Toastify__close-button--default:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
