.header-block {
  background: linear-gradient(to right, #effef4, #e3eff7);
  position: relative;
  z-index: 99;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: top 1.5s ease;
}

.header-block.fixed {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.header-block.goUp {
  background-color: #fff;
  position: sticky;
  top: -100%;
}

.header-block::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #fff;
  box-shadow: 0 0 5px rgba(173, 216, 230, 0.8);
}

.hero__header {
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.logo-div {
  width: 55px;
}

.logo-div img {
  transform: scale(2.4) translate(17px, -3px);
  height: 100%;
} /* logo not flexible */

span.hero__span {
  transform: translateX(-26px);
  align-self: center;
  text-transform: lowercase;
  cursor: auto;
  padding: 0.1rem 0.8rem;
  font-size: 1.4rem;
  background-color: #7ebbe6;
}

span.hero__span:hover {
  background-color: #7ebbe6;
}

@media (min-width: 1028px) {
  span.hero__span {
    transform: translateX(-42px);
  }
}

@media (min-width: 1440px) {
  .hero__header {
    height: 75px;
  }

  .logo-div img {
    transform: scale(2.4) translate(30px, -4px);
  }

  span.hero__span {
    font-size: 1.85rem;
  }
}
