.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-container .image-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.hero-container .image-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.hero-container .image-slide.active {
  opacity: 1;
  visibility: visible;
}

.hero-container .image-content {
  text-align: center;
  color: white;
}

.hero-container .image__title {
  color: #fff;
}

.hero__header {
  position: relative;
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hero__header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #c7e1bb,
    #c7e1bb 10px,
    #b5d6a5 10px,
    #b5d6a5 20px
  );
  opacity: 0.2;
}

.logo-div {
  width: 65px;
}

.logo-div img {
  scale: 2.7;
  translate: 58px -10px;
  height: 100%;
}

.hero__span{
  translate: -40px;
  align-self: center;
  padding: .1rem .8rem !important;
  font-size: 1.4rem !important;
}