.intro-block {
  background-color: #ecffec;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.intro-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      45deg,
      #d6edc5 25%,
      transparent 25%,
      transparent 75%,
      #d6edc5 75%
    ),
    linear-gradient(
      -45deg,
      #d6edc5 25%,
      transparent 25%,
      transparent 75%,
      #d6edc5 75%
    );
  background-size: 33px 33px;

  opacity: 0.2;
}

.intro {
  padding: 2rem 0;
}

.intro__header {
  margin-bottom: 2rem;
}

.intro-block .link__heading {
  margin: 3rem auto 0;
  max-width: 350px;
  width: 100%;
  font-size: 5.6rem;
}

.intro-block .link__heading::after {
  content: none;
}

.intro__title {
  background: linear-gradient(to right, #59a5d8, #63c96c);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300% 100%;
  animation: gradient 2.5s linear infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.intro__paragraph {
  max-width: 900px;
  margin: 1.4rem auto;
  padding-left: 3rem;
  position: relative;
}

.intro__paragraph svg {
  position: absolute;
  left: 3px;
  top: 20px;
}

.intro__paragraph::after {
  content: "";
  height: 0.1px;
  width: 90%;
  background-color: lightgray;
  position: absolute;
  bottom: -14px;
  left: 5%;
}

.intro__paragraph:last-child::after {
  height: 0;
}

.intro__paragraph.intro--quote {
  clip-path: polygon(
    0% 8%,
    45% 8%,
    50% 0%,
    55% 8%,
    100% 8%,
    100% 100%,
    0% 100%
  );
  background: linear-gradient(135deg, #d8f9e8, #cdf9d8);
  border-radius: 12px;
  padding: 5rem 1.5rem 1.5rem;
  opacity: 0.8 !important;
  color: #444;
  margin: 0 1.85rem;
  margin-bottom: 5rem;
  border: 2px solid #9fd3ac;
}

.intro .grid {
  row-gap: 0;
}

@media (min-width: 1024px) {
  .intro__paragraph.intro--quote {
    clip-path: polygon(
      0% 16%,
      60% 16%,
      64% 0%,
      65% 16%,
      100% 16%,
      100% 100%,
      0% 100%
    );
    margin: 0 auto 5rem;
    font-size: 1.9rem;
  }

  .intro__paragraph {
    margin: 0 1rem;
    text-align: center;
  }

  .intro .grid {
    align-items: center;
    margin: 8rem 0 2rem;
  }

  .intro__paragraph::after {
    content: none;
  }

  .intro-block .link__heading {
    max-width: 100vw;
    font-size: 6.3rem;
  }
}

@media (min-width: 1440px) {
  .intro-block .link__heading {
    font-size: 7.4rem;
  }
}
