.intro-block {
  background-color: #ecffec;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.intro-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(45deg, #d6edc5 25%, transparent 25%, transparent 75%, #d6edc5 75%),
    linear-gradient(-45deg, #d6edc5 25%, transparent 25%, transparent 75%, #d6edc5 75%);
  background-size: 33px 33px;

  opacity: 0.2;
}

.intro-block .link__heading {
  margin-bottom: 1rem;
}

.intro {
  padding: 2rem 0;
}

.intro__header {
  margin-bottom: 3rem;
}

.intro__header .link__heading {
  margin-top: 3rem;
}

.intro__title {
  background: linear-gradient(to bottom right, #59a5d8, #63c96c);
  -webkit-background-clip: text;
  color: transparent;
}

.intro__paragraph {
  max-width: 900px;
  margin: 2.6rem auto;
  padding-left: 3rem;
  position: relative;
}

.intro__paragraph svg {
  position: absolute;
  left: 3px;
  top: 20px;
}

.intro__paragraph::after {
  content: "";
  height: 0.1px;
  width: 90%;
  background-color: lightgray;
  position: absolute;
  bottom: -14px;
  left: 5%;
}

.intro__paragraph:last-child::after {
  height: 0;
}

.intro__paragraph.intro--quote {
  clip-path: polygon(
    0% 8%,
    45% 8%,
    50% 0%,
    55% 8%,
    100% 8%,
    100% 100%,
    0% 100%
  );
  background: linear-gradient(135deg,#d8f9e8, #cdf9d8);
  border-radius: 12px;
  padding: 6rem 2rem 2rem;
  opacity: 0.8 !important;
  color: #444;
  margin: 0 1.85rem;
  margin-bottom: 5rem;
  border: 2px solid #9fd3ac;
}

@media (min-width: 1024px) {
  .intro__paragraph.intro--quote {
    clip-path: polygon(
      0% 16%,
      60% 16%,
      64% 0%,
      65% 16%,
      100% 16%,
      100% 100%,
      0% 100%
    );
    margin: 0 auto 5rem;
    font-size: 1.9rem;
  };
}

@media (min-width: 1440px) {
  .intro__paragraph {
    max-width: 1100px;
  }
}
