.navbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adjust the width as needed */
  max-width: 470px; /* Set a maximum width to maintain a reasonable size */
  background: linear-gradient(to right, #007bff, #00bfff);
  padding: 0.85rem 0.45rem;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.15),
    0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, bottom 0.5s ease, visibility 0.5s ease;
  z-index: 99;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 auto;
  font-size: 1.55rem;
}

.navbar a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #fff;
}

.navbar a::after {
  background-color: #fff; /* White border color */
}

.navbar a:hover {
  color: #f9f9f9;
}

a i {
  font-size: 20px;
  margin-right: 5px;
}

.navbar.show,
.navbar:hover {
  opacity: 1 !important;
  bottom: 20px !important;
  visibility: visible !important;
}

.navbar.hide {
  opacity: 0;
  bottom: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .navbar li {
    margin: 0 1.5rem;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .navbar li {
    font-size: 2rem;
  }
}
