#news-block {
  background: linear-gradient(to bottom, #e6e6fa 20%, #f0f0f0);
  padding: 2rem;
}

.news__header .link__heading {
  margin-top: 0;
}

@media (min-width: 1440px) {
  .news__body {
    gap: 4.5rem !important;
  }
}
